<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="h-screen p-10 w-full bg-zinc-900 ">
        <h1 class="text-white text-xl  ">Create Account</h1>
            
            


                <form  action="/register" method="post">
                    <input class="block mb-3 p-2 outline-none mt-3 rounded-md w-80 " type="text" placeholder="name" name="name">
                    <input class="block mb-3 p-2 outline-none rounded-md w-80" type="text" placeholder="username" name="username">
                    <input class="block mb-3 p-2 outline-none rounded-md w-80" type="email" placeholder="email" name="email">
                    <input class="block mb-3 p-2 outline-none rounded-md w-80" type="number" placeholder="age" name="age">
                    <input class="block mb-3 p-2 outline-none rounded-md w-80" type="password" placeholder="password" name="password">
                    <input class="bg-zinc-500 px-4 py-2  rounded-md text-md" type="submit" value="Create Account">
                </form>

    </div>
</body>
</html>